.container {
  padding: 2em 1em;
  border-radius: 5px;
  background-color: #282c35;
  max-width: calc(100vw - 60%);
  margin: 2em auto;
  color: white;
  @media (max-width: 1100px) {
    max-width: calc(100vw - 20%);
  }
  @media (max-width: 760px) {
    max-width: calc(100vw - 10%);
  }
  @media (max-width: 450px) {
    max-width: calc(100vw);
  }
}
.title {
  text-decoration: none;
  color: pink;
  font-size: 2em;
  font-weight: 600;
  margin: 0em 0 0.5em 0;
  text-align: left;
  text-decoration: underline;
  :hover {
    color: pink;
    text-decoration: underline;
  }
  @media (max-width: 450px) {
    font-size: 1.5em;
  }
}

.link {
  text-decoration: none;
  color: pink;
  font-family: Grotters;
  text-align: left;
}

.info {
  margin-bottom: 1em;
  font-size: 0.8em;
  color: white;
  text-align: left;
  font-family: Roboto;
  font-weight: 800;
}

.content {
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: Roboto;
  @media (max-width: 450px) {
    font-size: 0.8em;
  }
}
.by {
  font-family: Cocogoose;
  color: pink;
  margin-right: 0.3em;
}
.author {
  font-family: Cocogoose;
}
.date {
  // border: 1px solid white;
  padding: 0.2em 1em;
  font-size: 0.8em;
  // border-radius: 25px;
  display: block;
  font-family: Roboto;
  @media (max-width: 500px) {
    margin-top: 0.3em;
    border: none;
    margin-left: 1.2em;
    // float: right;
  }
  @media (min-width: 500px) {
    float: right;
  }
}

.tagWrapper {
  margin-top: 1em;
  float: right;
}
.tag {
  border: 1px solid pink;
  background-color: transparent;
  color: black;
  color: pink;
  font-size: 0.6em;
  margin-right: 8px;
  padding: 3px 4px;
  min-width: 48px;
  display: inline-block;
  text-align: center;
  font-family: Roboto;
  &:hover {
    background-color: pink;
    color: black;
  }
}
.tagUnvisited {
  border: 1px solid pink;
  background-color: pink;
  color: black;
  font-size: 0.6em;
  margin-right: 8px;
  padding: 3px 4px;
  min-width: 48px;
  display: inline-block;
  text-align: center;
  font-family: Roboto;
  &:hover {
    background-color: pink;
    color: black;
  }
}
