.title {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin: 2em 0 0.5em 0;
}

.link {
  text-decoration: none;
  color: black;
}

.info {
  margin-bottom: 1em;
}

.content {
  color: #aaaaaa;
}
